.slider {
  margin: 40px auto;
}
.slider .slider-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.slider .slider-items .slider-item {
  flex: 0 0 48%;
  max-width: 48%;
  padding: 24px 18px;
  margin-bottom: 32px;
  border: 1px solid var(--bg-line);
  border-radius: 7px;
}
.slider .slider-items .slider-item input {
  appearance: none;
  background: linear-gradient(
    to right,
    var(--primary-main) 40%,
    var(--primary-main-opacity) 40%
  );
  border-radius: 12px;
  height: 6px;
  width: 100%;
}
.slider .slider-items .slider-item input::-webkit-slider-thumb {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.slider .slider-items .slider-item input:hover::-webkit-slider-thumb {
  box-shadow: 0 0 4px var(--primary-main);
}
.slider .slider-items .slider-item2 {
}
