:root {
  --bg-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 48px;
}
aside::-webkit-scrollbar {
  width: 0;
}
main::-webkit-scrollbar {
  width: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-white);
}
.main-section {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

nav .nav-items {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
aside,
main {
  padding: 0 16px;
  border: 1px solid red;
}
aside {
  flex: 0 0 20%;
  max-width: 20%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--red);
  padding-top: 40px;
}
main {
  flex: 0 0 79%;
  max-width: 79%;
  height: 100vh;
  overflow-y: auto;
  background-color: red;
  padding-top: 40px;
}
.sidebar-items {
  list-style: none;
}
